.dash-header{
	  margin-top:10px;
	  margin-left:100px;	  
}
.dash-header-item{
	  border-style: solid #f9f9f9; 
	  border-width: 1px;	
	  margin-left:30px;
	  background-color:#3991db
}
.dash-tile-header{
	border-style: solid #f9f9f9; 
	border-width: 0 0 1px 0;
	height:30px;
	background-color:#eee;
}
.dash-titile-header-data{
	height:60px;
	font-size:35px;
}
.dash-titile-header-text{
	padding-top:5px;
	padding-left:15px;
}
.col-md-2{
	padding-left:0;
	padding-right:0;
}
.data-icon{
	padding-left:20px;
	padding-top:12px;
	font-size:35px;
	color:white;
}
.data-icon-data{
	padding-left:60px;
	color:white;
}


